.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.column {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

@media screen and (min-width: 800px) {
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  ._25 {
    -webkit-flex: 2.5;
    -ms-flex: 2.5;
    flex: 2.5; }
  ._55 {
    -webkit-flex: 5.5;
    -ms-flex: 5.5;
    flex: 5.5; }
  ._20 {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2; } }

html {
  box-sizing: border-box;
  background-color: #F9F9F9;
  color: #231F20;
  font-family: "Lato-Light", sans-serif;
  font-size: 14px; }
  @media screen and (min-width: 800px) {
    html {
      font-size: 16px; } }

* {
  padding: 0;
  margin: 0; }
  *:before, *:after {
    box-sizing: inherit; }

html {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

h1 {
  font-size: 14px;
  margin: 0; }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 16px; } }

a {
  text-decoration: none;
  color: #231F20; }

ul {
  list-style: none;
  padding-left: 0; }

header {
  padding-top: 40px;
  height: 75vh; }

h1 {
  padding-left: 20px;
  font-weight: lighter; }

.year {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: lighter;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  margin-top: 24px; }
  @media screen and (min-width: 1200px) {
    .year {
      margin-left: -30px;
      position: absolute; } }

section {
  border-top: 1px solid #d6d1d2;
  margin-bottom: 100px; }

.main_copy {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .main_copy p {
    margin-top: 34vh;
    max-width: 300px;
    font-family: "Cormorant Garamond Light", serif;
    font-size: 28px; }

.work_with_me a {
  margin-left: 20px; }

.projects_names {
  padding-top: 20px; }
  .projects_names li {
    padding-left: 20px;
    margin-bottom: 20px; }

.image {
  margin-bottom: 15px;
  width: 100%;
  display: block;
  opacity: 0; }
  .image img {
    max-width: 384px;
    border-radius: 0; }
  .image img:hover {
    box-shadow: 0px 2px 8px 1px #c8c1c2;
    transition: box-shadow 300ms ease-in-out; }

.image_space {
  max-width: 384px;
  min-height: 342px;
  background-color: #F9F9F9;
  visibility: hidden; }

.image.is-visible {
  -webkit-animation: image 600ms ease-in forwards;
  animation: image 600ms ease-in forwards; }

@-webkit-keyframes image {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes image {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.gallery_1st, .gallery_2nd {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -30px;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
