doctype html

html
 head  
  title Flrscnt Design Studio 
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="css/normalize.min.css")
  link(rel="stylesheet", href="css/style.css")
    
 body
  header.container.row
   .year 
     h3 1986
     
   .logo._25
    a(href="#")
     h1 Diana Padron
   
   .main_copy._25
    a(href="#") Testimonials
    p I’m Diana, I create digital products and brands.
      
   .work_with_me._25
    a(href="#") Work with me
   
    
  section
   .first_year.container.row
    .year 
     h3 2017
    
    .projects_names._25
     ul
      li
       a(href="#") Current: VRhole
      li
       a(href="#") Graphic Experiments
        
    .gallery_1st._25
     .image
      a(href="#")
       img(src="images/music-app-draft-02.png")
   
    .gallery_2nd._25
     .image
      a(href="#")
       img(src="images/Leaf.png")
       
     .image
      a(href="#")
       img(src="images/mc.png")
     
  section
   .second_year.container.row
    .year 
     h3 2016
    .projects_names._25
     ul
      li
       a(href="#") VRhole
      li
       a(href="#") Graphic Experiments 
    .gallery_1st._25
     .image
      a(href="#")
       img(src="images/MD.png")
       
    .gallery_2nd._25
     .image
      a(href="#")
       img(src="images/flyer.png")
             
     .image
      a(href="#")
       img(src="images/DQ landing.png")
         
  
  section
   .third_year.container.row
    .year 
     h3 2015
    .projects_names._25
     ul
      li
       a(href="#") Diagnostic Questions
    .gallery_1st._25
     .image
      a(href="#")
       img(src="images/badge.png") 

  section
   .third_year.container.row
    .year        
     h3 Before 2015
    .projects_names._25
     ul
      li
       a(href="#") Diagnostic Questions
    
    .gallery_1st._25
     .image
      a(href="#")
       img(src="images/Prev.png") 
   
  script(src="js/jquery-3.2.0.min.js")     
