doctype html

html
 head  
  title Flrscnt Design Studio 
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="css/normalize.min.css")
  link(rel="stylesheet", href="css/style.css")
    
 body
  header.container.row
   .year 
     h3 1986
     
   .logo._25
    a(href="#")
     h1 Diana Padron
   
   .main_copy._25
    a(href="testimonials.html") Testimonials
    p I’m Diana, I create digital products and brands.
      
   .work_with_me._25
    a(href="work.html") Work with me
   
    
  section
   .first_year.container.row
    .year
     h3 2017
    
    .projects_names._25
     ul
      li
       a(href="#") Current: VRhole
      li
       a(href="project.html") Graphic Experiments
        
    .gallery_1st._25
     .image
      a(href="#")
       img(src="images/sound.gif", srcset="")
     .image
      a(href="#")
       img(src="images/Leaf@2x.png", srcset="images/Leaf.png 1x, images/Leaf@2x.png 2x")
         
    .gallery_2nd._25
     .image.image_space
      
     .image
      a(href="#")
       img(src="images/mc@2x.png", srcset="images/mc.png 1x, images/mc@2x.png 2x")
     
  section
   .second_year.container.row
    .year 
     h3 2016
    
    .projects_names._25
     ul
      li
       a(href="#") VRhole
      li
       a(href="#") Graphic Experiments 
    
    .gallery_1st._25
     .image
      a(href="#")
       img(src="images/MD@2x.png", srcset="images/MD.png 1x, images/MD@2x.png 2x")
    
     .image.image_space
     
     .image
      a(href="#")
       img(src="images/DQ landing@2x.png", srcset="images/DQ landing@2x.png 1x, images/DQ landing@2x@2x.png 2x")
       
    .gallery_2nd._25
     .image.image_space
     
     .image
      a(href="#")
       img(src="images/Flyer@2x.png", srcset="images/Flyer.png 1x, images/Flyer@2x.png 2x")
             
     
         
  
  section
   .third_year.container.row
    .year 
     h3 2015
    .projects_names._25
     ul
      li
       a(href="#") Diagnostic Questions
    
    .gallery_1st._25
     .image
      a(href="#")
       img(src="images/badge@2x.png", srcset="images/badge.png 1x, images/badge@2x.png 2x") 
    
    .gallery_2nd._25
     .image.image_space

  section
   .fourth_year.container.row
    .year        
     h3 > 2015
    
    .projects_names._25
     ul
      li
       a(href="#") Work Selection
    
    .gallery_1st._25
     .image
      .image.image_space
      
    .gallery_2nd._25
     .image
      a(href="#")
       img(src="images/Prev@2x.png", srcset="images/Prev.png 1x,images/Prev@2x.png 2x") 
     
   
  script(src="js/jquery-3.2.0.min.js")    
  script(src="js/scripts.js")    
